<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="no-js lt-ie9 lt-ie8 lt-ie7">    <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8">           <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9">                  <![endif]-->
<!--[if gt IE 8]>  <html class="no-js">                         <![endif]-->
<!-- Ctrl+F for "?" and replace with relevant info -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>? | LTW II</title>
        <meta name="description" content="?">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../templates/mla-essay.css">
    </head>
    <body>
        <div class="header">
            <p class="attrib print">
                Name: Douglas Anthony<br/>
                Date: ?, 202? <i>Ann&omacr; Domin&imacr;</i><br/>
                Play Title: ?
            </p>
            <p class="attrib screen">
                Douglas Anthony<br/>
                LTW II Week ?: ?<br/>
                ?, 202? <i>Ann&omacr; Domin&imacr;</i>
            </p>
            <p class="title">
                ?
            </p>
        </div>
        <div class="content">
            <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <p id="introduction">
                <span id="exordium">
                    ?
                </span>
                <span id="narratio">
                    ?
                </span>
                <span id="agreement">
                    ?
                </span>
                <span id="disagreement">
                    ?
                </span>
                <span id="distribution">
                    ?
                </span>
                <span id="exposition">
                    ?
                </span>
            </p>
            <p id="body-1">         <!-- ?          -->
                ?
            </p>
            <p id="refutation-1">   <!-- ?          -->
                ?
            </p>
            <p id="body-2">         <!-- ?          -->
                ?
            </p>
            <p id="refutation-2">   <!-- ?          -->
                ?
            </p>
            <p id="body-3">         <!-- ?          -->
                ?
            </p>
            <p id="conclusion">
                ?
                <span id="amplification">
                    ?
                </span>
            </p>
        </div>
        <div class="footnote print">
            <hr/>
            <sup>?</sup>?<br/>
        </div>
        <script>
            window.print();
        </script>
    </body>
</html>